*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(big-deskt){
        font-size: 75%; //1rem = 12px
    }
    @include respond(tab-land){
        font-size: 56.25%; //1rem = 9px
    }
}

body{
    box-sizing: border-box;
    background-color: $color-primary;
}

a{
    color:#fff;
}